.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color: rgb(10, 10, 10);
    width:77px;
    z-index:200;
    padding-top:5px;
    
}
.sidebar-link{
    background-color: rgb(10, 10, 10);
    height:77px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    cursor:pointer;

}
.sidebar-link:hover{
    background-color: rgb(47, 46, 46);
    border-radius:12px;
}
.sidebar-link img{
    height:28px;
}
.sidebar-link div{
    font-family:Roboto,Arial;
    font-size:10px;
    color:white;
    margin-top:5px;
}
